<%- include('layout.ejs'); %>
    <div class="error-message">
        <h2>401 - Unathorized</h2>
        <a class="error-message-link" href="/api/auth/login">Go to login form</a>

    </div>
    </body>

    </html>