<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>List of Posts</title>
</head>

<body>
    <h1>List of Posts</h1>
    <ul>
        <% resPosts.forEach((post)=> { %>
            <li>
                <h2>
                    <%= post.title %>
                </h2>
                <p>
                    <%= post.description %>
                </p>
                <p>Posted by: <%= post.owner %>
                </p>
            </li>
            <% }); %>
    </ul>
</body>

</html>