<%- include('layout.ejs'); %>
            
    <div class="container">
        <form class="form" id="login" method="post" action="/api/auth/login">
            <h1 class="form__title">Login</h1>
            <div class="form__input-group">
                <input type="text" class="form__input" name="email" id="email" autofocus placeholder="Email">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" name="password" id="password" placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="/api/auth/sign-up" id="linkSignUp">Don't have an account? Create account</a>
            </p>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </body>

    </html>