<%- include('layout.ejs'); %>
            
    <div class="container">
        <form class="form" id="login" method="post" action="/api/auth/login">
            <h1 class="form__title">Login</h1>
            <div class="form__input-group">
                <input type="text" class="form__input" name="email" id="email" autofocus placeholder="Email">
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" name="password" id="password" placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Continue</button>
        </form>
    </div>
    </body>

    </html>