body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #ebe8fa;
    background-size: cover;
}

.container {
    width: 500px;
    max-width: 500px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form__title {
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #f6f1fe;
    outline: none;
    background: #FAF7FF;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: #7f7df3;
    background: #ffffff;
}

.form__input-error-message {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #FF2F2F;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #7f7df3;
}

.form__button:hover {
    background: #585cca;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
