body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    background-image: linear-gradient(to right, #C5ADC5, #B2B5E0);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31.25rem;
    transform: translate(-50%, -50%);
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #FFF6FF;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form__title {
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid #E8DFE8;
    outline: none;
    background: #FFF6FF;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: #8D4673;
    background: #ffffff;
}

.form__input-error-message {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #FF2F2F;
    margin-bottom: 1rem;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #955C8C;
    margin-bottom: 1.5rem;
}

.form__button:hover {
    background: #8D4673;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
    margin: 0rem;
}

.form__link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31.25rem;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error-message-link {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.error-message-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 400px;
    }
}
