.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #FFF6FF;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #E8DFE8;
    width: 40%;
    min-width: 300px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/* Form container styles */
#update-form {
    width: 100%;
}

.update-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.update-input, .create-input {
    background-color: #FFF6FF;
    border: 1px solid #E8DFE8;
    width: 80%;
    max-width: 400px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-family: 'Radley';
    box-sizing: border-box;
    outline: none;
    transition: background 0.2s, border-color 0.2s;
}

.update-submit-button, .create-submit-button {
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #955C8C;
    width: 7rem;
    margin-bottom: 1rem;
}

.update-submit-button:hover, .create-submit-button:hover {
    background: #8D4673;
}

.update-input:focus, .create-input:focus {
    border-color: #8D4673;
    background: #ffffff;
}

@media (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
    
    .update-input, .create-input {
        width: 100%;
    }
}
